repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@^3.3.3"
          - "prettier-plugin-tailwindcss@^0.6.5"
          - "tailwindcss-animate@^1.0.7"
          - "prettier-plugin-astro@^0.14.1"
