@font-face {
  font-family: "SongerGrotesque";
  src: url("/fonts/Songergrotesque.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SongerGrotesqueBold";
  src: url("/fonts/Songergrotesquebold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "SongerGrotesqueHeavy";
  src: url("/fonts/Songergrotesqueheavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monsterrat-Alternates";
  src: url("/fonts/Songergrotesqueheavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 0;
  /* max-width: 1400px; */
}

h1 {
  font-family: "SongerGrotesqueBold", sans-serif;
  font-size: 36px;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.container h2 {
  font-family: "SongerGrotesqueBold", sans-serif;
  font-size: 36px;
  color: #333;
  margin: 20px 0;
}
