---
import Header from "../layouts/header.astro";
import Description from "../components/1_Description.astro";
import MapSection from "../components/2_MapSection.astro";
import Charts from "../components/3_Charts.astro";
import AppDownload from "../components/4_AppDownload.astro";
import HowToSee from "../components/5_HowToSee.astro";
import WhereToSee from "../components/6_WhereToSee.astro";
import Tours from "../components/7_Tours.astro";
import Footer from "../layouts/footer.astro";
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Северное сияние</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Шапка -->
    <Header />
    <!-- Компонент описания -->
    <Description />

    <!-- Компонент карты -->
    <MapSection />

    <!-- Компонент графиков -->
    <Charts />

    <!-- Компонент приложения -->
    <AppDownload />

    <!-- Компонент "Как увидеть" -->
    <HowToSee />

    <!-- Компонент "Где увидеть" -->
    <WhereToSee />

    <!-- Компонент "Туры" -->
    <Tours />

    <!-- Подвал-->
    <Footer />
  </body>
</html>
