---
import { useAstroTranslations } from "../../i18n/utils";
const t = useAstroTranslations(Astro);
import { Image } from "astro:assets";
import screen1 from "/src/assets/screenshot1.png";
import screen2 from "/src/assets/screenshot2.png";
import screen3 from "/src/assets/screenshot3.png";
import screen1_cn from "/src/assets/screenshot-cn1.png";
import screen2_cn from "/src/assets/screenshot-cn2.png";
import screen3_cn from "/src/assets/screenshot-cn3.png";
import { getLangFromUrl } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<style>
  .description h1 {
    font-family: "SongerGrotesqueBold";
    font-size: 64px;
  }

  .description h2 {
    font-family: "SongerGrotesqueBold";
    font-size: 36px;
  }

  .description ul {
    display: block;
    padding-top: 60px;
    font-size: 24px;
    text-align: left;
    list-style: disc; /* Добавляем маркеры */
    padding-left: 20px; /* Отступ для корректного отображения */
  }

  .description ul li {
    font-family: "SongerGrotesqueBold";
    font-size: 20px;
  }

  .app_screens {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 30px;
    white-space: nowrap;
    justify-content: space-between;
  }

  .screen-slider-container {
    position: relative;
    margin: 0 auto;
  }

  .screenshot {
    display: flex;
    justify-content: space-between;
    width: 350px;
    flex: 0 0 auto;
  }

  .img {
    border-radius: 20px;
    box-shadow: 4px 4px 6px #00000040;
  }
  .screen-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    z-index: 1000;
    font-size: 30px;
  }

  .screen-button.left {
    left: -50px;
  }

  .screen-button.right {
    right: -50px;
  }

  @media (max-width: 952px) {
    .screen-button {
      display: none !important;
    }
  }
  @media (max-width: 640px) {
    .description h2 {
      font-size: 20px;
    }
  }

  @media (max-width: 482px) {
    .screenshot {
      width: 80%;
    }
  }
</style>

<section class="description pt-[0px] pb-5 text-center" id="description">
  <div class="screen-slider-container">
    <button class="screen-button left" id="screenSlideLeft">&#8249;</button>
    <div class="app_screens pt-24" id="screenSlider">
      <div class="screenshot">
        <Image
          class="img"
          src={lang === "cn" ? screen1_cn : screen1}
          alt="Скрин приложения"
        />
      </div>
      <div class="screenshot">
        <Image
          class="img"
          src={lang === "cn" ? screen2_cn : screen2}
          alt="Скрин приложения"
        />
      </div>
      <div class="screenshot">
        <Image
          class="img"
          src={lang === "cn" ? screen3_cn : screen3}
          alt="Скрин приложения"
        />
      </div>
    </div>
    <button class="screen-button right" id="screenSlideRight">&#8250;</button>
  </div>
  <div class="pt-[60px] text-left">
    <h2>{t("App.mini-title2")}</h2>
  </div>
  <p class="pt-[40px] pb-[70px] text-left">
    {t("App.text-final")}
  </p>
</section>

<script is:inline>
  {
    function initSlider() {
      const screenSlider = document.getElementById("screenSlider");
      const screenSlideLeft = document.getElementById("screenSlideLeft");
      const screenSlideRight = document.getElementById("screenSlideRight");

      if (!screenSlider) return;

      // Проверяем, нужен ли скролл
      const totalWidth = Array.from(screenSlider.children).reduce(
        (sum, item) => sum + item.offsetWidth,
        0,
      );
      const visibleWidth = screenSlider.offsetWidth;

      if (totalWidth > visibleWidth) {
        // Показываем кнопки и активируем прокрутку
        screenSlideLeft.style.display = "block";
        screenSlideRight.style.display = "block";

        screenSlideLeft.addEventListener("click", () => {
          screenSlider.scrollBy({ left: -380, behavior: "smooth" });
        });

        screenSlideRight.addEventListener("click", () => {
          screenSlider.scrollBy({ left: 380, behavior: "smooth" });
        });
      } else {
        // Скрываем кнопки, если скролл не нужен
        screenSlideLeft.style.display = "none";
        screenSlideRight.style.display = "none";
      }
    }

    window.addEventListener("load", initSlider);
    window.addEventListener("resize", initSlider);
  }
</script>
