<style>
  .description {
    text-align: center;
    padding: 150px 20px 50px 20px;
  }

  .description h1 {
    font-family: "SongerGrotesqueBold";
    font-size: 64px;
  }

  .description h2 {
    font-family: "SongerGrotesqueBold";
    font-size: 24px;
    margin: 60px 0;
  }

  .description p {
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
  }
</style>

<section class="description" id="description">
  <div class="container">
    <h1>Северное сияние</h1>
    <h2>Как увидеть?</h2>
    <p>
      Северное сияние, или Аврора бореалис, — это одно из самых завораживающих
      природных явлений, наблюдаемое в высоких широтах, близких к полюсам. Оно
      возникает в результате взаимодействия солнечного ветра с магнитным полем
      Земли. Когда заряженные частицы, выбрасываемые Солнцем, сталкиваются с
      атмосферными газами на высоте от 80 до 300 километров, они возбуждают
      атомы кислорода и азота, что приводит к образованию светящихся полос и
      фигур в небе.
    </p>
  </div>
</section>
