---
import { useAstroTranslations } from "../i18n/utils";
import { getImage } from "astro:assets";
import auroraback_mb from "../assets/auroraback_mb.png";
const auroraBackMbImageUrl = `url(${(await getImage({ src: auroraback_mb })).src})`;
import auroraback from "../assets/auroraback.png";
const auroraBackImageUrl = `url(${(await getImage({ src: auroraback })).src})`;
const t = useAstroTranslations(Astro);
---

<style define:vars={{ auroraBackMbImageUrl, auroraBackImageUrl }}>
  #description {
    background-image: var(--auroraBackMbImageUrl);
  }
  @media (min-width: 768px) {
    #description {
      background-image: var(--auroraBackImageUrl);
    }
  }
  .description h1 {
    font-family: "SongerGrotesqueBold";
    font-size: 64px;
  }

  .description h2 {
    font-family: "SongerGrotesqueBold";
    font-size: 24px;
    margin: 60px 0 85px 0;
  }

  .description p {
    margin: 0 auto;
    font-size: 16px;
    /* line-height: 1.5; */
    text-align: left;
  }

  @media (max-width: 510px) {
    .description h1 {
      line-height: 74px;
    }

    .description h2 {
      margin: 50px 0 55px 0;
    }
  }
</style>

<section
  class="description bg-contain bg-[center_50px] bg-no-repeat pt-[80px] pb-5 text-center md:bg-[0px_20px]"
  id="description"
>
  <h1>{t("description.title")}</h1>
  <h2>{t("description.how")}</h2>
  <p>{t("description.text1")}</p>
  <p>
    {t("description.text2")}
  </p>
</section>
