---
import { AuroraMap } from "./reactive/AuroraMap";
import { AuroraNow } from "./reactive/AuroraNow";
---

<section class="py-12" id="map">
  <h2><a href="#map">Сияние прямо сейчас</a></h2>
  <p>
    Здесь вы можете наблюдать за динамическим отображением сияния в реальном
    времени
  </p>
  <div class="py-5 text-2xl">Мурманск</div>
  <AuroraNow client:only="react" />
  <AuroraMap client:only="react" />
</section>
