---
import { AuroraMap } from "./reactive/AuroraMap";
import { AuroraNow } from "./reactive/AuroraNow";
import { useAstroTranslations } from "../i18n/utils";
const t = useAstroTranslations(Astro);
---

<section class="py-12" id="map">
  <h2><a href="#map">{t("MapSection.title")}</a></h2>
  <p>
    {t("MapSection.text")}
  </p>
  <AuroraNow client:only="react" />
  <AuroraMap client:only="react" />
</section>
