---
import Map from "../components/Map.astro";
import { AuroraNow } from "./reactive/AuroraNow";
---

<style>
  /* .map-section h2 {
font-size: 36px;
margin-bottom: 20px;

  }*/

  .map-placeholder {
    background: #eee;
    height: 400px;
    border: 2px dashed #ccc;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #666;
  }
</style>

<section class="px-5 py-12" id="map">
  <div class="container">
    <h2>Сияние прямо сейчас</h2>
    <p>
      Здесь вы можете наблюдать за динамическим отображением сияния в реальном
      времени
    </p>
    <div class="py-5 text-2xl">Мурманск</div>
    <AuroraNow client:only="react" />
    <div class="map-placeholder">Здесь будет карта</div>
    <div class=""><Map /></div>
  </div>
</section>
