---
import { ChartTabs } from "./reactive/ChartTabs";
---

<section class="px-12 py-5" id="index">
  <div class="container">
    <h2>Индекс северного сияния</h2>
    <p>
      Здесь вы можете наблюдать график индекса северного сияния! Этот график
      отображает текущий уровень активности северного сияния (KP-индекс) в
      реальном времени. Индекс варьируется от 0 до 9, где более высокие значения
      указывают на большую вероятность наблюдения сияния в северных широтах.
      Следите за изменениями индекса, чтобы спланировать свои наблюдения и не
      пропустить шанс увидеть это потрясающее природное явление.
    </p>
    <ChartTabs client:only="react" />
  </div>
</section>
