---
import { ChartTabs } from "./reactive/ChartTabs";
import { useAstroTranslations } from "../i18n/utils";
const t = useAstroTranslations(Astro);
---

<section
  class="bg-[url('/images/starsback_index.png')] bg-[80px_0px] bg-no-repeat py-5 md:bg-[620px_0px] lg:bg-[820px_0px] xl:bg-[950px_0px]"
  id="index"
>
  <div
    class="absolute top-[1690px] left-[-159px] max-w-[500px] sm:top-[1217px] sm:left-[-41px] 2xl:left-[0px]"
  >
    <img src="/images/auroraback_index.png" alt="" />
  </div>
  <h2>
    <a href="#index">{t("Charts.title")}</a>
  </h2>
  <div class="">
    <p>
      {t("Charts.text1")}
    </p>
    <p>
      {t("Charts.text2")}
    </p>
  </div>
  <ChartTabs client:only="react" />
</section>
