---
import { ChartTabs } from "./reactive/ChartTabs";
import { useAstroTranslations } from "../i18n/utils";
import { Image } from "astro:assets";
import auroraback_index from "../assets/auroraback_index.png";
const t = useAstroTranslations(Astro);
---

<section
  class="bg-[url('/images/starsback_index.png')] bg-[80px_0px] bg-no-repeat py-5 md:bg-[620px_0px] lg:bg-[820px_0px] xl:bg-[950px_0px]"
  id="index"
>
  <div
    class="absolute top-[1690px] left-[-159px] max-w-[500px] sm:top-[1217px] sm:left-[-41px] 2xl:left-[0px]"
  >
    <Image src={auroraback_index} alt="Abstract background" />
  </div>
  <h2>
    <a href="#index">{t("Charts.title")}</a>
  </h2>
  <div class="">
    <p set:html={t("Charts.text1")} />
    <p class="pt-4">
      {t("Charts.text2")}
    </p>
  </div>
  <ChartTabs client:only="react" />
  <p class="pt-4" set:html={t("Charts.After1")} />
  <p class="pt-4" set:html={t("Charts.After2")} />
  <p class="pt-4" set:html={t("Charts.After3")} />
  <p class="pt-4" set:html={t("Charts.After4")} />
</section>
