---
import Chart3 from "./Chart_3.astro";
import Chart27 from "./Chart_27.astro";
---

<style>
  .charts {
    padding: 50px 20px;
  }

  /*.charts h2 {
    font-size: 36px;
  }

  .charts p {
    margin: 20px 0;
  }*/

  .chart-placeholder {
    background: #f9f9f9;
    height: 300px;
    border: 2px dashed #ccc;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #666;
  }
</style>

<section class="charts" id="index">
  <div class="container">
    <h2>Индекс северного сияния на 3 суток</h2>
    <p>
      Здесь вы можете наблюдать график индекса северного сияния! Этот график
      отображает текущий уровень активности северного сияния (KP-индекс) в
      реальном времени. Индекс варьируется от 0 до 9, где более высокие значения
      указывают на большую вероятность наблюдения сияния в северных широтах.
      Следите за изменениями индекса, чтобы спланировать свои наблюдения и не
      пропустить шанс увидеть это потрясающее природное явление.
    </p>

    <div class="chart-placeholder"><Chart3 /></div>

    <h2>Индекс северного сияния на 27 суток</h2>
    <p>
      Здесь представлен график индекса северного сияния. Помните, что индекс,
      как и погода, может меняться. Используйте этот график для общего
      ориентирования на месяц, а для более точного прогноза рекомендуем
      обращаться к краткосрочным прогнозам.
    </p>
    <div class="chart-placeholder"><Chart27 /></div>
  </div>
</section>
