<style>
  .how-to-see {
    padding: 50px 20px;
  }

  .how-to-see img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .how-to-see p {
    margin-bottom: 20px;
    line-height: 1.6;
  }

  /*.how-to-see h2 {
      font-size: 36px;

    }*/

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }
</style>

<section class="how-to-see" id="how-to-see">
  <div class="container">
    <h2>Как увидеть?</h2>
    <p>
      Наблюдение за северным сиянием — это удивительное зрелище, требующее
      подготовки и терпения.
    </p>
    <ul>
      <li>
        1. Прогноз активности. Следите за солнечной активностью с помощью нашего
        ресурса. Индекс Kp выше 4-5 указывает на высокую вероятность.
      </li>
      <li>
        2. Погода. Ясное небо — обязательное условие. Если прогноз обещает
        облачность, подумайте о смене места или дня.
      </li>
      <li>
        3. Выбор места. Ищите локации вдали от городских огней, чтобы световое
        загрязнение не мешало.
      </li>
      <li>
        4. Терпение. Сияние может появиться неожиданно, поэтому будьте готовы
        ждать в тепле и с комфортом.
      </li>
      <li>
        5. Фотосъёмка. Для более качественных фотографий используйте штатив,
        длинную выдержку и высокие ISO.
      </li>
    </ul>
    <p></p>
    <p>
      Северное сияние — это не только зрелище, но и глубокий эмоциональный опыт,
      вдохновляющий на всю жизнь.
    </p>
    <div class="images">
      <img src="/src/assets/aurora-1.png" alt="Северное сияние" />
      <img src="/src/assets/aurora-1.png" alt="Северное сияние" />
      <img src="/src/assets/aurora-1.png" alt="Северное сияние" />
    </div>
  </div>
</section>
