---
import { useAstroTranslations } from "../i18n/utils";
const t = useAstroTranslations(Astro);
import { Image } from "astro:assets";
import MurmanskIcefloating from "../assets/IceFloating2.png";
import MurmanskIcefloatingMobile from "../assets/IceFloating2-mob.png";
---

<style>
  .where-to-see {
    line-height: 1.6;
    font-size: 16px;
  }
</style>

<section class="pt-12 pb-6" id="where-to-see">
  <h2><a href="#where-to-see">{t("Where.title")}</a></h2>
  <div class="where-to-see pt-[0px] pb-[20px]">
    {t("Where.text1")}
  </div>
  <div class="where-to-see">
    {t("Where.text2")}
  </div>
  <!-- <div class="mt-[40px] overflow-hidden rounded-[20px]">
    <a
      href="https://arctic-sup.ru/?erid=2VtzqwLT1uE"
      target="_blank"
      rel="noopener noreferrer"
    >
      <picture>
        <source
          srcset={MurmanskIcefloatingMobile.src}
          media="(max-width: 425px)"
        />
        <Image src={MurmanskIcefloating} alt="Айсфлоатинг" />
      </picture></a
    >
  </div> -->
</section>
