<style>
  .where-to-see {
    line-height: 1.6;
    font-size: 16px;
  }

  /*.where-to-see h2 {
      font-size: 36px;
    }*/
</style>

<section class="py-12" id="where-to-see">
  <h2><a href="#where-to-see">Где можно увидеть северное сияние?</a></h2>
  <div class="where-to-see pt-[20px] pb-[20px]">
    Для успешного наблюдения за северным сиянием важно правильно выбрать место.
    Идеально подходят локации вдали от городских огней, где световое загрязнение
    не помешает насладиться зрелищем. Выбирайте высокие точки или открытые
    пространства с хорошим обзором.
  </div>
  <div class="where-to-see">
    Не забывайте о безопасности: избегайте остановок на оживлённых трассах и
    убедитесь, что выбранное место безопасно для парковки и пребывания, особенно
    в тёмное время суток.
  </div>
</section>
