<style>
  .where-to-see {
    padding: 50px 20px;
  }

  .where-to-see p {
    line-height: 1.6;
    margin: 20px 0;
  }

  /*.where-to-see h2 {
      font-size: 36px;
    }*/
</style>

<section class="where-to-see" id="where-to-see">
  <div class="container">
    <h2>Где увидеть?</h2>
    <p>
      Для успешного наблюдения за северным сиянием важно правильно выбрать
      место. Идеально подходят локации вдали от городских огней, где световое
      загрязнение не помешает насладиться зрелищем. Выбирайте высокие точки или
      открытые пространства с хорошим обзором.
    </p>
    <p>
      Не забывайте о безопасности: избегайте остановок на оживлённых трассах и
      убедитесь, что выбранное место безопасно для парковки и пребывания,
      особенно в тёмное время суток.
    </p>
  </div>
</section>
