<style>
  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  p {
    text-align: justify;
  }
  ul {
    display: block;
    text-align: left;
    list-style: disc;
    padding-left: 20px;
  }
</style>

<div class="pt-[50px] pb-[50px]">
  <h1 class="flex justify-center pb-[50px]">
    СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ
  </h1>
  <p>
    Используя сайт <a href="https://polarlights.pro">www.polarlights.pro</a> и мобильное
    приложение «За сиянием», пользователь дает свое добровольное согласие ИП Горбатенко
    Надежде Андреевне (зарегистрированной по адресу: г. Мурманск, ул. Бочкова, д.
    3, кв. 47) на обработку своих персональных данных в соответствии с Федеральным
    законом от 27.07.2006 №152-ФЗ «О персональных данных».
  </p>

  <h2>Обрабатываемые персональные данные:</h2>
  <ul>
    <li>
      ФИО, электронная почта и иные данные, предоставленные при регистрации и
      использовании сервиса;
    </li>
    <li>Данные файлов cookie;</li>
    <li>
      Информация о местоположении (при использовании соответствующих функций).
    </li>
  </ul>

  <h2>Цели обработки персональных данных:</h2>
  <ul>
    <li>Обеспечение корректной работы сервиса и его функционала;</li>
    <li>Улучшение пользовательского опыта;</li>
    <li>Реализация платных подписок (при наличии таковых);</li>
  </ul>

  <p>
    Персональные данные обрабатываются с применением необходимых мер защиты и не
    передаются третьим лицам, за исключением случаев, предусмотренных
    законодательством Российской Федерации.
  </p>

  <p>
    Персональные данные хранятся в течение срока, необходимого для достижения
    указанных целей, либо до момента отзыва согласия.
  </p>

  <h2>Пользователь имеет право:</h2>
  <ul>
    <li>
      Запросить доступ к своим данным, уточнить их или потребовать удаления;
    </li>
    <li>
      Отозвать согласие на обработку персональных данных, направив запрос на <a
        href="mailto:polar.digital@yandex.ru">polar.digital@yandex.ru</a
      > (в случае отзыва обработка данных прекращается, за исключением случаев, предусмотренных
      законом).
    </li>
  </ul>

  <p>
    Продолжая использовать сайт и мобильное приложение, пользователь
    подтверждает свое согласие с условиями обработки персональных данных.
  </p>
</div>
