<style>
  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  p {
    text-align: justify;
  }
  ul {
    display: block;
    text-align: left;
    list-style: disc;
    padding-left: 20px;
  }
  h1 {
    font-size: 34px;
  }
</style>

<div class="py-[50px]">
  <h1 class="flex justify-center pb-[50px]">Политика конфиденциальности</h1>
  <p>
    Ответственным за обработку и хранение персональных данных является ИП
    Горбатенко Надежда Андреевна, зарегистрированная по адресу город Мурманск,
    улица Бочкова, дом 3, квартира 47, действующая в соответствии с
    законодательством Российской Федерации.
  </p>
  <p>
    Настоящая Политика конфиденциальности (далее – «Политика») регулирует
    обработку и защиту персональных данных пользователей (далее –
    «Пользователь»), собираемых при использовании веб-сайта <a
      href="https://polarlights.pro">www.polarlights.pro</a
    > и мобильного приложения «За сиянием» (далее – «Сервис»). Политика разработана
    в соответствии с законодательством Российской Федерации, включая Федеральный
    закон от 27.07.2006 №152-ФЗ «О персональных данных».
  </p>

  <h2>1. Ответственный за сервис</h2>
  <p>
    Индивидуальный предприниматель Горбатенко Надежда Андреевна,
    зарегистрированная по адресу: Россия, 183038, г. Мурманск, ул. Бочкова, д.
    3, кв. 47, действует в соответствии с законодательством Российской
    Федерации.
  </p>

  <h2>2. Обработка данных</h2>
  <p>
    Наш Сервис (веб-сайт www.polarlights.pro и мобильное приложение «За сиянием»
    / «POLARLIGHTS»,) не собирает, не хранит и не передаёт никакие персональные
    данные пользователей. Единственной технологией, используемой для улучшения
    работы сайта и приложения, являются файлы cookie.
  </p>

  <h2>3. Цели использования cookie</h2>
  <ul>
    <li>
      Обеспечение корректного функционирования элементов сайта и приложения.
    </li>
    <li>Анализ поведения пользователей для оптимизации интерфейса.</li>
    <li>Поддержание безопасности и предотвращение неполадок.</li>
  </ul>

  <h2>4. Передача данных третьим лицам</h2>
  <p>
    Поскольку Сервис не обрабатывает персональную информацию, никаких данных
    третьим лицам не передаётся.
  </p>

  <h2>5. Срок и порядок хранения cookie</h2>
  <p>
    Cookie хранятся на устройстве пользователя в течение срока, указанного в
    настройках конкретного файла cookie, либо до момента их удаления
    пользователем в веб-браузере.
  </p>

  <h2>6. Управление cookie</h2>
  <p>
    Пользователь может в любой момент отключить или удалить cookie через
    настройки своего браузера. Это может повлиять на функциональность Сервиса.
  </p>

  <h2>7. Защита данных</h2>
  <p>
    Мы применяем технические и организационные меры для защиты целостности и
    доступности нашего сервиса, а также для предотвращения несанкционированного
    доступа к механизмам работы с cookie.
  </p>

  <h2>8. Ссылки на внешние ресурсы</h2>
  <p>
    Сайт и приложение могут содержать ссылки на сторонние ресурсы. Мы не
    контролируем их политику конфиденциальности и не несем ответственности за их
    содержание. Рекомендуем ознакомиться с условиями обработки данных на таких
    сайтах самостоятельно.
  </p>

  <h2>9. Изменения в Политике</h2>
  <p>
    Мы оставляем за собой право вносить изменения в настоящую Политику.
    Актуальная версия публикуется на Сервисе. Продолжение использования после
    публикации означает согласие с изменениями.
  </p>

  <h2>10. Контактная информация</h2>
  <p>
    По вопросам работы Сервиса и использования файлов cookie пишите на эл.
    почту: <a href="mailto:polar.digital@yandex.ru">polar.digital@yandex.ru</a>.
  </p>
  <p>Дата последнего обновления: 14.07.2025 г.</p>
</div>
