---
import { Image } from "astro:assets";
import PDLogo from "../assets/PD_logo.png";
import PDtg from "../assets/PD_tg.svg";
---

<style>
  /* Подвал */
  /* Основной стиль для футера */
  .footer {
    background: url("/src/assets/aurora-footer.png") no-repeat center center /
      cover;
    background-color: #001b24;
    color: white;
    padding: 60px 20px;
    height: 481px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
  }

  .footer-left {
    max-width: 50%;
    display: inline;
    margin: 0 60px 0 0;
  }

  .footer-left-up {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
  }

  .footer-logo {
    margin: 6px 60px 0 0;
  }

  .footer-contacts {
    margin: 0;
  }

  .footer-contacts h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight: bold;
  }

  .footer-contacts a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
  }

  .footer-contacts a:hover {
    text-decoration: underline;
  }

  .footer-rights {
    font-size: 12px;
    margin-top: 40px;
    line-height: 1.4;
    font-weight: 300;
  }

  .footer-right {
    text-align: right;
  }

  .footer-right h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-right ul li {
    margin: 5px 0;
  }

  .footer-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .footer-right ul li a:hover {
    text-decoration: underline;
  }

  .image_tg {
    float: right;
  }

  @media (max-width: 1024px) {
    .footer-contacts {
      margin: 40px 0 0 0;
    }
  }

  @media (max-width: 538px) {
    .footer-right {
      text-align: left;
      margin-top: 20px;
    }

    .footer-right ul li {
      margin: 0;
    }
    .footer-right h3 {
      margin: 0;
    }
    .footer-contacts h3 {
      margin: 0;
    }

    .footer-rights {
      margin: 20px 0 0 0;
    }
    .image_tg {
      float: left;
    }
  }

  @media (max-width: 450px) {
    .footer-logo {
      width: 90px;
    }

    .footer-contacts h3 {
      margin: 0;
      font-size: 16px;
    }
    .footer-contacts a {
      font-size: 14px;
    }

    .footer-right {
      text-align: left;
    }
    .footer-right h3 {
      font-size: 16px;
    }

    .footer-right ul li a {
      font-size: 14px;
    }
  }
</style>

<!-- Подвал -->
<footer class="footer">
  <div class="footer-container">
    <!-- Левая часть: Лого и контакты -->
    <div class="footer-left">
      <div class="footer-left-up">
        <div class="footer-logo">
          <Image src={PDLogo} alt="Polar Digital" />
        </div>
        <div class="footer-contacts">
          <h3>Контакты</h3>
          <a href="mailto:polar.digital@yandex.ru">polar.digital@yandex.ru</a>
        </div>
      </div>
    </div>

    <!-- Правая часть: Ссылки -->
    <div class="footer-right">
      <h3>Северное сияние</h3>
      <ul>
        <li><a href="#map">Карта</a></li>
        <li><a href="#app">Приложение</a></li>
        <li>
          <a href="t.me/polar_digital"
            ><Image class="image_tg" src={PDtg} alt="Telegram" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="footer-rights">
    Все права на сайт и фотографии защищены авторским правом<br /><br />
    Данные предоставлены Национальным управлением океанических и атмосферных исследований
    (NOAA)
  </p>
</footer>
