---
import { Image } from "astro:assets";
import PDLogo from "../assets/PD_logo.png";
import PDtg from "../assets/PD_tg.svg";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useAstroLocale, useAstroTranslations } from "../i18n/utils";
const t = useAstroTranslations(Astro);
const l = useAstroLocale(Astro);
---

<style>
  /* Подвал */
  /* Основной стиль для футера */
  .footer {
    background: url("/src/assets/aurora-footer.png") no-repeat center center /
      cover;
    background-color: #001b24;
    color: white;
    padding: 60px 20px;
    height: 481px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
  }

  .footer-container li {
    font-size: 14px;
    padding: 5px 0;
  }

  .footer-container a {
    font-size: 14px;
  }

  .footer-container li:hover {
    text-decoration: underline;
  }

  .footer-container h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .footer-container a:hover {
    text-decoration: underline;
  }

  .footer-left {
    max-width: 50%;
    display: inline;
    padding: 0 10px 0 0;
  }

  .footer-left-up {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
  }

  .footer-logo {
    margin: 6px 60px 0 0;
  }

  .footer-contacts a {
    padding: 5px 0;
  }

  .footer-rights {
    font-size: 12px;
    padding-top: 40px;
    font-weight: 300;
  }

  .footer-mid {
    text-align: left;
    padding: 0 10px;
  }

  .image_tg {
    float: left;
  }

  .cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(to right, #18a5bf, #006909);
    z-index: 1000;
    font-size: 16px;
    color: white;
  }

  .cookie--active {
    display: flex;
    align-items: center;
  }

  .cookie_text {
    margin-right: 30px;
  }

  .cookie_apply {
    background: black;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    .footer-contacts {
    }
  }

  @media (max-width: 812px) {
    .footer-contacts {
      padding: 20px 0 0 0;
    }
    .footer-left {
      margin: 0 50px 0 0;
    }
    .footer-docs {
      padding: 20px 0 0 0;
    }
  }
  @media (max-width: 558px) {
    .footer-mid {
      padding: 20px 0 0 0;
    }
  }

  @media (max-width: 538px) {
    .footer {
      height: auto;
    }
    .cookie_text {
      margin-right: 10px;
    }
  }
</style>

<!-- Подвал -->
<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <!-- Левая часть: Лого и контакты -->
      <div class="footer-left">
        <div class="footer-left-up">
          <a class="footer-logo" href="https://polar-digital.ru">
            <Image src={PDLogo} alt="Polar Digital" />
          </a>
          <div class="footer-contacts">
            <h3>{t("footer.Contacts")}</h3>
            <a href="mailto:polar.digital@yandex.ru">polar.digital@yandex.ru</a>
          </div>
        </div>
        <div class="pt-[15px] text-[12px]">
          {t("footer.AddCity")}
        </div>
      </div>

      <!-- Серединная часть: Ссылки -->
      <div class="footer-mid">
        <h3>{t("footer.Aurora")}</h3>
        <ul>
          <li><a href="#map">{t("footer.Map")}</a></li>
          <li>
            <a href="#app">{t("footer.App")}</a>
          </li>
          <li>
            <a href="https://t.me/+kmJAsk-XAQowNmNi"
              ><Image class="image_tg" src={PDtg} alt="Telegram" />
            </a>
          </li>
        </ul>
      </div>

      <!-- Правая часть: Документация -->
      <div class="footer-docs">
        <div class="text-[20px] font-bold">{t("footer.Docs")}</div>
        <ul>
          <li><a href="/policy">{t("footer.Policy")}</a></li>
          <li><a href="/agreement">{t("footer.Data")}</a></li>
        </ul>
      </div>
    </div>
    <p class="footer-rights">
      {t("footer.Rights1")}
      <br /><br />
      {t("footer.Rights2")}
      <br /><br />
    </p>
    <p class="pt-[40px] text-[12px]">ИП Горбатенко Надежда Андреевна</p>
  </div>
  <div class="cookie hidden">
    <div class="cookie_text">
      {t("footer.Cookie1")}
      <a href="https://ru.wikipedia.org/wiki/Cookie"><u>cookie</u></a>. {
        t("footer.Cookie2")
      }
    </div>
    <button class="cookie_apply" type="button">{t("footer.Cookie3")}</button>
  </div>
</footer>

<script>
  const setConsent = () => {
    localStorage.setItem("cookieConsent", "accepted");
  };

  const hasConsent = (): boolean => {
    return localStorage.getItem("cookieConsent") === "accepted";
  };

  const initCookieBanner = () => {
    const cookieBanner = document.querySelector<HTMLElement>(".cookie");
    const okButton = document.querySelector<HTMLButtonElement>(".cookie_apply");

    if (!cookieBanner || hasConsent()) return;

    cookieBanner.classList.remove("hidden");
    cookieBanner.classList.add("cookie--active");

    okButton?.addEventListener("click", () => {
      setConsent();
      cookieBanner.classList.replace("cookie--active", "hidden");
    });
  };

  document.addEventListener("DOMContentLoaded", initCookieBanner);
</script>
