---
import Footer from "./footer.astro";
import Header from "./header.astro";
import "../styles/styles.css";
import "../styles/tailwind.css";
import { useAstroTranslations } from "../i18n/utils";
import { defaultLang } from "../i18n/ui";
const t = useAstroTranslations(Astro);
---

<html lang={Astro.currentLocale || defaultLang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{t("layout.title")}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <div class="container">
      <slot />
    </div>
    <Footer />
  </body>
</html>
