---
import Footer from "./footer.astro";
import Header from "./header.astro";
import "../styles/styles.css";
import "../styles/tailwind.css";
import { useAstroLocale, useAstroTranslations } from "../i18n/utils";
const t = useAstroTranslations(Astro);
const lang = useAstroLocale(Astro);
import { DEPLOY_URL } from "astro:env/client";
---

<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{t("layout.title")}</title>
    <meta
      name="description"
      content="Увидеть Северное сияние стало проще! Прогнозы, уведомления и советы для вашей удачи. С нами вы не пропустите полярное сияние! Поймай Аврору"
    />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta property="og:url" content={DEPLOY_URL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={t("meta.ogTitle")} />
    <meta property="og:description" content={t("meta.ogDescription")} />
    <meta property="og:locale" content={lang} />
    <meta property="og:image" content={DEPLOY_URL + "/openGraph.jpg"} />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:width" content="731" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Yandex.Metrika counter -->
    <!-- <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return;
          }
        }
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym",
      );

      ym(100038245, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
      });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/100038245"
          style="position:absolute; left:-9999px;"
          alt=""
        />
      </div></noscript
    > -->
    <!-- /Yandex.Metrika counter -->
  </head>
  <body>
    <Header />
    <div class="bg-[radial-gradient(circle,black,#202731_80%,#5E666E_100%)]">
      <div class="container">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
