---
import "../styles/styles.css";
import "../styles/tailwind.css";
import { useAstroLocale, useAstroTranslations } from "../i18n/utils";
const t = useAstroTranslations(Astro);
const lang = useAstroLocale(Astro);
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      html,
      body {
        overscroll-behavior: auto !important;
        touch-action: pan-x pan-y !important;
        -ms-touch-action: pan-x pan-y !important;
        background-color: black;
        margin: 0 20px;
      }

      * {
        touch-action: pan-x pan-y !important;
      }
    </style>
  </head>

  <body>
    <slot />
  </body>
</html>
